.places{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;


}
.placeRow{
    display: flex;

}
.placesBox{
    display: flex;
    text-align: center;


}
.placesImage{
    display: flex;
    margin:8px;
    width: 182px;
    height: 260px;
    cursor:pointer;
}
.cityName{

    font-weight: bold;
    cursor:pointer
}