.placesBox{
    display: flex;
    flex-direction: column;
     background-color: deeppink;



}
.placeRow{
    display: flex;
    flex-direction: row;
    gap:10px;
    background-color: black;
}
.cityName{
    background-color: #1474cf;

}
.resim{
    width: 200px;
    height: 250px;
}