.places{

  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
  flex-direction: column;

    
  
}
.container{
    background-color: black;
    margin-bottom: 20px;
  
   
}
.placeRow{

    display: flex;
    flex-direction: row;
    text-align: center;
   gap:2px;

   
}

.placesImage{
    height: 228px;
   
 }
 @media screen and (max-width:500px),screen and (max-device-width:500px) {
    .container{
        background-color: black;
        margin-bottom: 20px;
      
       
    }
    .placeRow{

        display: flex;
        flex-direction: row;
        text-align: center;
       gap:2px;
       width: 380px;
      
      
    }
    .placesBox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
        object-fit: cover;
  
    
        
    }
    .placesImage{
        height: 200px;
      
       
     }
    }
    
 