
.hourlyInner{
    display: flex;
    justify-content: center;
    width: 711px;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
    color:#fafafa;


}
.kart{
    background-color: #665bcc;
    border-radius: 8px;
    letter-spacing:1px;
    flex-wrap: wrap;


}
.hourlyBoxWrapper{
    display: flex;
    flex-wrap: wrap;


}
.hourlyTime{
    font-size: inherit;
    font-weight: 600;
    color: white;
    justify-content: center;
    display: flex;

}
.hourlyNow{
    font-weight:bold;
}
.imgIcon{
    height: 100px;
    width:100px
}

