.container{
    margin-top: 20px;
    text-align: center;
    color:#fafafa;

}
.hourlyInner{
    display: flex;
    justify-content: space-between;
    width: 775px;

}
.hourlyBoxWrapper{
    display: flex;
    flex-wrap: wrap;


}
.hourlyTime{
    font-size: inherit;
    font-weight: 600;
    color: white;
    justify-content: center;
    display: flex;

}
.hourlyNow{

    font-weight:bold;
}

.kart{
    width: 83px;
    border-radius: 20px;
    background-color: slategray;

}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deg {
    color: #fafafa;

}