.weekly{
    margin-top: 20px;


}
.weeklyTitle{
    display: flex;
    align-items: baseline;
}
.weeklyTitle h5{
    padding-left: 5px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 792px;
    background-color: #1474cf;
    border-radius: 20px;
    margin: 10px;
}
.left{

    text-align: center;
    color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 791px;


}
.leftOne {
    background-color: slategray;
    margin-right: 20px;
    width: 200px;
    border-radius: 20px;
}


.right{
text-align: center;


}
.right p{
    color: white;
}