html{
    scroll-behavior: smooth;

  }
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
  }
  

  
  * {
    box-sizing: border-box;
  }
  
 
  
input{
    border: 1px solid gainsboro; 
    overflow: hidden;
    height: 80px;
    width: 100%;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    border-radius: 5px;
    text-align: start;
    background-color: #fafafa;

}

span{
    display:block;
    font-weight: lighter;
}
h3{
    font-size: large;
    font-weight: 600;
}
p{
    font-size: inherit;
    font-weight: 600;
}
@media screen and (max-width:500px),screen and (max-device-width:500px) {
html{
  height: 100vh;

  
}
  
}






